.App {
  text-align: center;
  padding-left: 25vw;
  padding-right: 25vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h3{
  margin-block-start: .75em;
  margin-block-end: 0.2em;
}
h5{
  display: block;
  font-size: 1em;  
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: .5em;

}
h6{
  display: inline;
  font-size: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
p{
  margin-block-start: .5em;
  margin-block-end: .5em;
  font-size: medium;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.footer {
   position:sticky;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}
a{
  text-decoration:none;
  color: tomato;
}
.avator-foot{
  border-radius: 50%;
  width: 2%;
}